html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* on veut contrôler le scroll uniquement sur <main> */
}


main {
  
	flex: 1;
	display: grid;
	place-items: center;
	overflow-y: auto;
	padding: 40px 0;
  
}

.formulaire{
	display: flex;
	flex-direction: row;
	min-width: 400px;
	width: 100%;
	max-width: 600px;
	margin: auto;
	
}

.infosFormulaire{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:10px;
	flex-basis:600px;
	padding-right: 60px;
	flex-shrink:1;
	flex-grow: 1;    
 	max-width:600px;
 	min-width: 300px;
 	
}

#divButton{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-content:center;
}

#changedButton{
	
	border: solid 1px;
	background-color: orange;
	color: white;
	font-size:25px;
	font-weight:bold;
	padding: 15px;
	text-align:center;
	border-radius: 10px;
	cursor: pointer;
	
}

#email, #Username, #password, #oldPassword{
	border-radius: 5px;
	height: 45px;
	width:100%;
	border-style: solid;
	border-width:1px;
	border-color: gray;
	background-color: white;
	
}

.labels{
	text-align: left;
	width: 300px;
}

.labelValue{
	display: flex;
	gap:15px;
	align-items: center;
	
	
	
}