<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/style/header.css">
		<link rel="stylesheet" href="/style/connection.css">
		<title>Connection</title>
		
	</head>
	
	<body>
		
		<div th:replace="~{fragments/header :: header}">...</div>
		<main>	
			<form class="formulaire" th:action="@{/add_user_connection}" method="post">
				<div class="labelMail">
					<label for="email">Chercher une relation</label>
					<input type="text" id="email" name="email" placeholder="Saisir une addresse email" />
				</div>
				<div id="divButton">
					<input id="appendButton" type="submit" value="Ajouter">
				</div>
			</form>
		</main>
	</body>
</html>

