<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>403 — Access Denied<</title>
  <!-- Lien vers le fichier CSS de Bootstrap -->
  <link href="/style/bootstrap.min.css" rel="stylesheet">
  <link href="/style/errorcustom.css" rel="stylesheet">
</head>
<body class="d-flex align-items-center justify-content-center vh-100 bg-light">
  <div class="text-center p-5 bg-white rounded-4 shadow-lg" style="max-width: 600px;">
    <h1 class="display-1 fw-bold gradient-text">403</h1>
    <h2 class="fw-semibold text-dark">Access Denied</h2>
    <p class="text-muted mt-2">You do not have permission to access this page.</p>
    <div class="mt-4 d-flex justify-content-center">
      <a th:href="@{/transaction}" class="btn btn-blue px-4">Transaction</a>
      
                
    </div>
  </div>
</body>
</html>
