<!DOCTYPE html>

<html  lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/style/header.css">
		<link rel="stylesheet" href="/style/login.css">
		<link rel="stylesheet" href="/style/message.css">
		<title>Login</title>
		
	</head>
	
	<body>
		<div th:replace="~{fragments/header :: header}">...</div>
		<h1>Login</h1>
		<main>
			
			
			<form th:action=@{/login} method="post" class="formulaire">
				<div role="alert"  th:if="${param.error}">
		    		<p class="messageError"> Email or password is invalid.</p>
				</div>
				<div role="alert" th:if="${param.logout}">
					<p class="messageError">You have been logged out.</p>
				</div>
				<div role="status" th:if="${successCreate}" class="messageOk">
					<p th:text="${successCreate}"></p>
				</div>
				<p id="titre" th:text="#{appli.title}"></p>
				<div id="inputFormulaire">
					<input class="input" aria-label="Email" type="email" id="email" name="email" autocomplete="email" autofocus="autofocus" placeholder="Mail"/>
					<input class="input" aria-label="Mot de passe" type="password" id="password" name="password" autocomplete="current-password" placeholder="Mot de passe"/>
				</div>	
				<button id="submiButton" type="submit" value="Se connecter">Se connecter</button>
			</form>
		</main>
	</body>
</html>

