<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/style/header.css">
		<link rel="stylesheet" href="/style/login.css">
		<link rel="stylesheet" href="/style/message.css">
		<title>Login</title>
		
	</head>
	
	<body>
		<div th:replace="~{fragments/header :: header}">...</div>
		<main>
			
			
			<form th:action=@{/login} method="post" class="formulaire">
				<div th:if="${param.error}">
		    		<p class="messageError"> Email ou mot de passe invalide.</p>
				</div>
				<div th:if="${param.logout}">
					<p class="messageError">You have been logged out.</p>
				</div>
				<div th:if="${successCreate}" class="messageOk">
					<p th:text="${successCreate}"></p>
				</div>
				<h1 id="titre" th:text="#{appli.title}"></h1>
				<div id="inputFormulaire">
					<input class="input" type="email" id="email" name="email" autocomplete="email" autofocus="autofocus" placeholder="Mail"/>
					<input class="input" type="password" id="password" name="password" autocomplete="current-password" placeholder="Mot de passe"/>
				</div>	
				<input id="submiButton" type="submit" value="Se connecter"/>
			</form>
		</main>
	</body>
</html>

