<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/style/header.css">
		<link rel="stylesheet" href="/style/profile.css">
		<title>Transactions</title>
		
	</head>
	
	<body>
		<div th:replace="~{fragments/header :: header}">...</div>
		<main>
			<form class="formulaire" th:action="@{/profile}" method="post" th:object="${user}">
	    		<div class="infosFormulaire">
		    		<input type="hidden" name="_method" value="put"/>
		    		<div class="labelValue">
		    			<label class="labels" for="username">Username</label>
		    			<input type="text" id="Username" name="username" autocomplete="username" th:field="*{username}"/>
					</div>
					<div class="labelValue">
						<label class="labels" for="email">Mail</label>
						<input type="email" id="email" name="email" autocomplete="email" th:field="*{email}"/>
					</div>
					<div class="labelValue">
						<label class="labels" for="password">Ancien mot de passe</label>
						<input type="password" id="oldPassword" name="oldPassword"  placeholder="Ancien mot de passe" autocomplete="current-password"/>
					</div>
					<div class="labelValue">
						<label class="labels" for="password">Nouveau mot de passe</label>
						<input type="password" id="password" name="password"  placeholder="Nouveau mot de passe" autocomplete="current-password" th:field="*{password}"/>
	    			</div>
	    		</div>
	    		<div id="divButton">
	    			<input id="changedButton" type="submit" name="Modifier" value="Modifier" />
	    		</div>
			</form>
		</main>
		
		
	</body>
</html>

