<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/style/header.css">
		<link rel="stylesheet" href="/style/transaction.css">
		<link rel="stylesheet" href="/style/message.css">
		<title>Transactions</title>
		
	</head>
	
	<body>
		<div th:replace="~{fragments/header :: header}">...</div>
		<h1>Transactions</h1>
		<div role="alert" th:if="globalError">
			<p th:text="${globalError}"></p>
		</div>
		
		<form class="formulaire-transaction" th:action="@{/transaction}" method="post" th:object="${transactionFormDto}">
			<!--  <select th:field="${connectionSelect}">-->
			<!--  <label for="emailSelect">Sélectionner une relation :</label>-->
			<div role="alert" class="messageError" th:if="${#fields.hasErrors('*')}">
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				<div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
			</div><br>
			<select id = "emailSelect" aria-label="Email relation" aria-required="true" name = "emailSelect" th:field="*{email}">
				<option class="selectRelation"  value="">Sélectionner une relation</option><!-- selected disabled value="" -->
				<option class="selectRelation" th:each=" mail: ${listEmail}" th:value="${mail}" th:text="${mail}"></option>
			</select>
			<input type="text" id="description" aria-label="Description" name="description" placeholder="Description" th:field="*{description}"/>
			<div class="montant">
				   <input type="number" id="amount" aria-label="Montant" aria-describedby="euro" name="amount" placeholder="0" min="0.01" step="0.01" th:field="*{amount}">
				     <span>€</span>
				    
				  
			</div>
			<button id="pay-button" type="submit">Payer</button>
		</form>
		<br/>
		<div class="tableau">
			<h2>Mes transactions</h2>
			<table class="tableau-transactions">
				<thead>
					<tr>
						<th>Relations</th>
						<th>Description</th>
						<th>Montant</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="transaction : ${transactions}">
						<!-- <td colspan="3" th:text="${transaction}"></td>-->
						<td th:text="${transaction.username}"></td> 
						<td th:text="${transaction.description}"></td>
						<td th:text="${transaction.amount} + ' €'"></td> 
							
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>

